.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width: 5px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
    height: 5px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 20px;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
}

.contenedor::-webkit-scrollbar-thumb:active {
    background-color: #797979;
}