.font-08-rem
{
    font-size: 0.8rem;
}
.font-09-rem
{
    font-size: 0.9rem;
}
.font-11-rem
{
    font-size: 1.1rem;
}
.font-12-rem
{
    font-size: 1.2rem;
}
.font-family-Montserrat{
    font-family: 'Montserrat';
}
.font-family-Montserrat-Bold{
    font-family: 'Montserrat-Bold';
}
.font-family-Montserrat-Semi-Bold{
    font-family: 'Montserrat-Semi-Bold';
}
